@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  transition: 0.1s linear;
}

:root {
  --F-Color: black;
  --Secondary-F-Color: rgb(93, 93, 93);
  --FS: 20px;
  --Secondary-FS: 16px;
  --BG-Color: whitesmoke;
  --Hover-Color: grey;
  --section-margin: 0 6rem 0 6rem;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--BG-Color);
  font-size: var(--FS);
  font-family: "Outfit", sans-serif;
  color: var(--F-Color);
}

a:any-link {
  transition: 0.2s;
  color: var(--F-Color);
  text-decoration: none;
}

a:hover,
a:focus {
  transition: 0.2s;
  color: grey;
  cursor: pointer;
}
abbr {
  text-decoration: none;
}

.main-h1 {
  text-align: center;
  margin: 3rem 0 3rem 0;
}

.bold {
  font-weight: bold;
}

/* Header */

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5rem 1rem 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.nav-h1 {
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 4rem;
  font-size: 18px;
  list-style-type: none;
}

/* Introduction */

.Introduction {
  margin: 5rem 6rem 0 6rem;
}

.introduction-flex-all {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

.introduction-flex {
  display: flex;
  align-items: center;
}

.introduction-img {
  margin-right: 1rem;
  border: 3px inset var(--F-Color);
  width: 240px;
  height: auto;
}

.introduction-span1 {
  font-size: 38px;
}

.introduction-hr {
  margin: 0.5rem 0 0.5rem 0;
  height: 0.3rem;
  background-color: black;
  border: none;
}

.introduction-span2 {
  font-size: 28px;
}

.introduction-span3 {
  font-size: 24px;
}

.introduction-span4 {
  font-size: 24px;
}

.introduction-span5 {
  font-size: 24px;
}

.introduction-a {
  font-size: 35px;
  color: var(--F-Color);
  border: solid 5px var(--F-Color);
  border-radius: 5px;
  background-color: var(--BG-Color);
  cursor: pointer;
}

.introduction-a:hover {
  transition: 0.2s;
  color: var(--Hover-Color);
  border-color: var(--Hover-Color);
}

/* About Me */

.About-Me {
  margin: var(--section-margin);
}

.aboutme-flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.aboutme-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme-img {
  border: 8px outset var(--F-Color);
  width: 300px;
  height: 300px;
}

.aboutme-span2 {
  display: block;
  font-size: var(--Secondary-FS);
  max-width: 700px;
  color: var(--Secondary-F-Color);
}

.aboutme-img-figcap {
  text-align: center;
  font-size: 12px;
}

/* Skills */

/* .skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 3rem;
  justify-content: center;
} */

.Skills {
  margin: var(--section-margin);
}

.skills-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 1rem 2rem 1rem 2rem;
  border: 1px solid black;
  border-radius: 10px;
}

.skills-center {
  justify-items: center;
}

.skills-card-img {
  width: 118px;
}

.skills-card-img.frontend,
.skills-card-img.project-management {
  width: 90px;
}

.skills-card-img.communication {
  width: 82px;
}

.skills-card-skill {
  font-size: var(--FS);
  margin-bottom: 0.5rem;
}

.skills-card-description {
  justify-content: center;
  font-size: var(--Secondary-FS);
  color: var(--Secondary-F-Color);
}

/* Knowledge */

.Knowledge {
  margin: var(--section-margin);
}

.knowledge-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.knowledge-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.knowledge-card img {
  width: 80px;
  height: auto;
}

.knowledge-card figcaption {
  color: var(--Secondary-F-Color);
  font-size: 14px;
}

/* Project */

.Project {
  margin: var(--section-margin);
}

.project-card {
  position: relative;
  padding: 1rem;
  border: 1px solid var(--F-Color);
  border-radius: 10px;
}

.project-gap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-flex {
  display: flex;
}

.project-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-right: 1rem;
}

.project-spacebetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-center {
  align-content: center;
}

.project-img-hammer {
  color: #c0c0c0;
  padding: 63px;
  font-size: 65px;
  margin-right: 1rem;
}

.project-title {
  font-size: var(--FS);
}

.project-description {
  font-size: var(--Secondary-FS);
  color: var(--Secondary-F-Color);
}

.project-link {
  text-align: end;
}

.project-link a {
  margin-left: 5px;
}

.project-link img {
  width: 20px;
}

.project-link-fb:hover,
.project-link-git:hover,
.project-link-insta:hover,
.project-link-linked:hover,
.project-link-twit:hover,
.project-link-yt:hover {
  width: 30px;
}

/* Contact */

.contact-h1 {
  text-align: center;
  margin: 3rem 0 1.5rem 0;
}

.contact-container {
  padding: 1.5rem 0 1.5rem 0;
  background-color: rgb(234, 234, 234);
}

.contact-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-media {
  text-align: center;
  font-size: 10px;
  color: #c0c0c0;
}

.contact-media:hover {
  color: var(--Secondary-F-Color);
}

.contact-media a {
  margin: 0 1.5rem 0 1.5rem;
}

.contact-media img {
  width: 40px;
  margin-bottom: 0.5rem;
}

.contact-media:hover img {
  width: 50px;
  margin-bottom: 0;
}

.contact-link {
  margin-top: 3rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info:hover {
  color: var(--Hover-Color);
}

.fa-envelope {
  font-size: 2.4rem;
}

.fa-phone,
.fa-map-location {
  font-size: 2rem;
}

.contact-info-mail a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  font-size: 1rem;
  margin-top: 0.4rem;
}

.contact-info-phone {
  margin: 0 12rem 0 10rem;
}

.contact-info-phone a,
.contact-info-location a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
}
